ZSPER_PROFILE_ID={{ PROFILE_ID }}
ZSPER_PROFILE_NAME={{ PROFILE_NAME }}
ZSPER_PROFILE_MODE={{ PROFILE_MODE }}
ZSPER_PROFILE_ROOT={{ PROFILE_ROOT }}
ZSPER_BRAIN_ROOT={{ BRAIN_ROOT }}
ZSPER_RUNTIME_BRAIN_ROOT={{ RUNTIME_BRAIN_ROOT }}
ZSPER_REPO_ROOT={{ REPO_ROOT }}
ZSPER_MODEL_BASE_URL={{ MODEL_BASE_URL }}

POSTGRES_DB={{ POSTGRES_DB }}
POSTGRES_USER={{ POSTGRES_USER }}
POSTGRES_PASSWORD={{ POSTGRES_PASSWORD }}
POSTGRES_PORT={{ POSTGRES_PORT }}
POSTGRES_HOST=postgres
POSTGRES_DSN=postgresql://{{ POSTGRES_USER }}:{{ POSTGRES_PASSWORD }}@postgres:5432/{{ POSTGRES_DB }}

REDIS_URL=redis://redis:6379/0
REDIS_KEY_PREFIX=zsper:{{ PROFILE_ID }}:
REDIS_PORT={{ REDIS_PORT }}

SEARXNG_PORT={{ SEARXNG_PORT }}
HONCHO_PORT={{ HONCHO_PORT }}
HONCHO_IMAGE={{ HONCHO_IMAGE }}
BRAIN_API_PORT={{ BRAIN_API_PORT }}
BRAIN_WEB_PORT={{ BRAIN_WEB_PORT }}
